<div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.adsttc.com%2Fmedia%2Fimages%2F58d5%2F3a58%2Fe58e%2Fce48%2Fa700%2F003f%2Flarge_jpg%2F002.jpg%3F1490369108&f=1&nofb=1&ipt=28443054b91d7114f49daf70eae4de8d6e1c89865d868af26709741c0d094564)">
  Movie lists
</div>

<div class="mb-4">
  <% @lists.each do |list| %>
    <% last_movie = list.movies.last %>
    <% last_review = list.reviews.last %>
    <div class="card-product">
      <% if !last_movie.nil? %>
        <img src= <%= last_movie.poster_url %> />
      <% else %>
        <div class="square"></div>
      <% end %>
      <div class="card-product-infos">
        <a href="/lists/<%= list.id %>"> <%= list.name %> </a>
        <% if !last_review.nil? %>
          <p>last review : "<i><%= last_review.comment %></i>" </p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card-product">
    <div class="square"></div>
    <div class="card-product-infos">
      <p id="new_list_title">Add a new list</p>
      <%= simple_form_for @list, html: { class: "d-flex gap-4 align-items-end" } do |f| %>
      <%= f.input :name,
                  label: "name :",
                  placeholder: "all-time favorites",
                  label_html: { class: "card-productp" },
                  input_html: { style: "font-style: italic;" },
                  wrapper_html: { class: "mb-0" } %>
      <%= f.input :photo, as: :file,
                  label: "cover image :",
                  label_html: { class: "card-productp" },
                  wrapper_html: { class: "mb-0" } %>
      <%= f.button :submit, "Create list", class: "btn btn-outline-dark mb-3" %>
      <% end %>
    </div>
  </div>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
